<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/kodiak">KODIAK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="/kodiak">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nomina" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Nomina
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="nomina">
                        <li><strong>Configuración</strong>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Conceptos</a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                        <li><strong>Operaciones</strong>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><strong>Reportes</strong>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                <li>
            </ul>
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="maestro" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Configuración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="maestro">
                        <li><a class="dropdown-item" href="#">Usuarios</a></li>
                        <li><a class="dropdown-item" href="#">Terceros</a></li>
                    </ul>
                <li>
            </ul>
        </div>
    </div>
</nav>