<div class="row">
    <div class="card mb-2">
        <H2 class="text-center bold">CONCEPTOS</H2>
    </div>
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-head bg-dark ">
                <H4 class="text-center bold text-white pt-2">Nuevo - Editar</H4>
            </div>
            <div class="card-body">
                <form #conceptoForm="ngForm" (ngSubmit)="addConcepto(conceptoForm)" class="text-center">
                    <div class="form-group mb-2">
                        <input type="number" class="form-control" min="1" placeholder="Codigo" name="codigo">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" placeholder="Concepto" name="concepto">
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-sm" >Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-responsive table-hover table-dark mt-2">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">CÓDIGO</th>
                            <th class="text-center">CONCEPTO</th>
                            <th class="text-center">OPERACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-items-start" *ngFor="let concepto of conceptoService.conceptos">
                            <td class="text-center">{{concepto.codigo}}</td>
                            <td>{{concepto.concepto}}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button class="btn btn-primary btn-sm" title="Editar" ><i class="material-icons">edit</i></button>
                                    <button class="btn btn-danger btn-sm" title="Eliminar"> <i class="material-icons">delete</i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>